<section>
  <ul>
    {%- for block in section.blocks -%}
      {%- liquid
        assign b = block.settings
      -%}
      {%- if block.type == 'quote' -%}
        <li>{{- b.quote -}}</li>
      {%- elsif block.type == 'image' -%}
        {%- render 'component.image', img: b.image -%}
      {%- endif -%}
    {%- endfor -%}
  </ul>
</section>
{% schema %}
{
  "name": "Quotes",
  "blocks": [
    {
      "name": "quote",
      "type": "quote",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "quote",
          "label": "Quote"
        }
      ]
    },
    {
      "name": "image",
      "type": "image",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quotes"
    }
  ]
}
{% endschema %}
