<style>
  .color {
    background-color: red;
  }
</style>
<section>
  <ul class='space-y-8 mt-8'>
    {%- for block in section.blocks -%}
      {%- liquid
        assign b = block.settings
      -%}
      {%- if block.type == 'quote' -%}
        <li class='py-8 px-8 max-w-sm mx-auto bg-purple-700 text-white font-medium shadow-lg'>
          {{- b.quote -}}
        </li>
      {%- elsif block.type == 'image' -%}
        <div class='flex max-w-sm justify-center'>
          {%- render 'component.image', img: b.image -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</section>
{% schema %}
{
  "name": "Quotes",
  "blocks": [
    {
      "name": "quote",
      "type": "quote",
      "settings": [
        {
          "type": "text",
          "id": "quote",
          "label": "Quote"
        }
      ]
    },
    {
      "name": "image",
      "type": "image",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quotes"
    }
  ]
}
{% endschema %}
